# Local 환경 DB 설정 (MySQL)
spring:
  config:
    activate:
      on-profile: db-local
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate:
        format_sql: true
